.git
**/.git
**/.github
**/__pycache__
**/*.pyc
**/node_modules
**/.venv
**/venv
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/target
**/dist
**/build
**/*.log

headroom/examples
headroom/docs
headroom/tests
headroom/wiki
headroom/benchmarks
headroom/e2e
headroom/*.gif
headroom/*.png

Understand-Anything/node_modules
codegraph/node_modules
